<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <servlet>
        <servlet-name>sign-up</servlet-name>
        <jsp-file>/sign-up.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sign-up</servlet-name>
        <url-pattern>/sign-up</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>signup-check</servlet-name>
        <jsp-file>/signup-check.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup-check</servlet-name>
        <url-pattern>/signup-check</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sign-in-check</servlet-name>
        <jsp-file>/sign-in-check.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sign-in-check</servlet-name>
        <url-pattern>/signin-check</url-pattern>
    </servlet-mapping>
    
    
    <!-- =================Admin Panel================-->
    <servlet>
        <servlet-name>dashboard</servlet-name>
        <jsp-file>/jsps/admin-panel/Dashboard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>all-admin</servlet-name>
        <jsp-file>/jsps/admin-panel/employee.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>all-admin</servlet-name>
        <url-pattern>/admins</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>all-product</servlet-name>
        <jsp-file>/jsps/product/AllProduct.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>all-product</servlet-name>
        <url-pattern>/all-product</url-pattern>
    </servlet-mapping>
     
     
     
     
     
     <!-- ========== Error Page Handeling===============--> 
     
    <error-page>
        <error-code>404</error-code>
        <location>/page-not-found.jsp</location>
    </error-page>
</web-app>
